@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", serif;
  --font-bebas: "Bebas Neue", serif;

  --animate-slide-down-fade-in: slide-down-fade-in 300ms ease-out forwards;

  @keyframes slide-down-fade-in {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@utility clip-right {
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}

@utility clip-left {
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 90%);
}

@utility clip-md-left {
  clip-path: polygon(0 0, 50% 0, 75% 100%, 0 100%);
  shape-outside: polygon(0px 0px, 50% 0%, 75% 100%, 0px 100%);
  shape-margin: 2rem;
}

@utility clip-md-right {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%);
  shape-outside: polygon(50% 0px, 100% 0px, 100% 100%, 25% 100%);
  shape-margin: 2rem;
}

.padding-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

@property --fill {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

.card {
  transition-delay: 0s;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: inherit;
  z-index: -1;
  background: conic-gradient(#006045 var(--fill), transparent var(--fill));
  transition: --fill 0.6s 0.3s linear;
}

/* .card:hover, */
.card:hover::before,
.card:hover::after {
  transition-delay: 0s;
}

.card:hover,
.card:focus-within,
.card:focus-visible {
  --fill: 50%;
}

.card::after {
  transform: rotateY(180deg);
}
